.superheroesContainer {
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px 10px;
    font-size: 1.2rem;
    padding: 20px 100px;

}

body {
    font-family: 'Montserrat';
    background-color: rgb(238, 227, 212);
}

.naming {
    margin: 10px;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.super {
    width: 40%;
    padding: 1% 2%;
    font-size: 1.2rem;
    border: 5px solid rgb(210, 48, 48);
    box-shadow:  15px 20px 20px 2px rgba(204, 80, 80, 0.2);
    margin: 1vw;
    border-radius: 5%;

}

.supermanImg {
    padding: 3% 70px;
    width: 70%;
}

.buttonLike {
    padding: 5px;
    background-color: rgb(211, 38, 38);
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    margin-left: 2%;
}


.buttonLike:hover {
    background-color: rgb(48, 150, 150);
}